body {
    font-size: 0.8em;
    font-family: Dejavu, Verdana, "Bitstream Vera Sans", "Lucida Grande", "Trebuchet MS", sans-serif;
    color: #535353;
    background: #D2D0D4;
}

img {
    border: none;
}

h1 {
    margin-top: 0;
    color: #333;
    font-size: 1.6em;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #ff8c00;
}

a:hover, a:active {
    font-weight: bold;
    color: #ff4500;
    text-decoration: underline;
}

#header {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    background: url(../img/gentoo-header-bar-bg.png) repeat-x;
    margin-bottom: 20px;
}

#header #logo {
    float: left;
}

#content {
    border: 1px solid #67539B;
    background: #FEFEFE;

    padding: 20px;

    min-height: 350px;
}

.menu {
    border: 1px solid #67539B;
    background: #8076A1;
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
}

.notfirst-menu {
    margin-top: 10px;
}

.menu a {
    color: #fff;
}

.menu li {
    list-style-type: none;
}

.submenu {
    padding-left: 15px;
}

.menu dl {
    margin-left: 15px;
}

.menu dd {
    border: none;
}

a {
    color: #3F4C66;
}

a:link, a:visited, a:active {
    color: #3F4C66;
    text-decoration: none;
}
a:hover {
    color: #4C5C7B;
    text-decoration: underline;
}

abbr:hover {
    text-decoration: underline;
}

pre {
    border-left:5px solid;
    padding:0.5em 1em;
    margin-left:2em;
}

dt {
    font-weight: bold;
}

dd {
    border-left: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}

hr {
    margin: 0.3em 1em 0.3em 1em;
    height: 1px;
    border: #bcbcbc dashed;
    border-width: 0 0 1px 0;
}


.table {
    width: 60% !important;
    margin: auto;
}

td {
    max-width: 350px;
}

#footer {
    background: #8076A1;
    font-size: 0.8em;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    color: #FFF;
}

#footer p {
    text-align: right;
    margin: 5px;
}

.err, .ok, .inf {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-weight:bold;
    border: 1px dotted #5682AD;
}

.added {
    color: #262;
}

.removed {
    color: #F00;
}

.err {
    border-color: #F00;
    color: #F00;
}

.ok {
    border-color: #262;
    color: #262;
}

.logo {
    float: right;
}

.clear {
    clear: both;
}

.package_stat {
    width: 40px;
    float: right;
    height: 5px;
    border: 1px solid #ccc;
}

.package_stat div {
    float: left;
    height: 5px;
}

.package_stat .packaged {
    background: #85ACFF;
}

.package_stat .overlay {
    background: #C6D9FD;
}

.package_stat .upstream {
    background: #FDEADD;
}

.log {
    max-height: 100pt;
    overflow: auto;
}

.hide {
    display: none;
}

.rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.padded {
    padding: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

textarea {
    width: inherit;
}

.errorlist > li {
    color: red;
    list-style: none;
}

.errorlist + input {
    border: 1px solid red;
}
