{% extends "registration/_registration_base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <th>{{ form.username.label_tag }}</th>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <th>{{ form.password.label_tag }}</th>
        <td>{{ form.password }}</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input class="btn pull-right" type="submit" value="Login" />
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <a class="pull-right" href="{% url "django.contrib.auth.views.password_reset" %}">Forgot password</a>
        </td>
      </tr>
    </table>
    <input type="hidden" name="next" value="/" />
  </form>
{% endblock %}
