{% extends "_base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/table.css" media="screen" title="Normal" />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#table').dataTable( {
     "bPaginate": false,
     "bInfo": false,
     "bStateSave": true,
     "sCookiePrefix": "datatables_"
    } );
  });
</script>
{% endblock %}

{% block menus %}
{{ block.super }}
<div class="menu notfirst-menu rounded">
  <ul>
    <li><img src="{{ STATIC_URL }}img/gentoo-icon.png" alt="gentoo" /> Gentoo</li>
    <li><img src="{{ STATIC_URL }}img/overlay-icon.png" alt="overlays" /> Overlays</li>
    <li><img src="{{ STATIC_URL }}img/upstream-icon.png" alt="upstream" /> Upstream</li>
    <li><img src="{{ STATIC_URL }}img/unstable-icon.png" alt="unstable" /> Unstable</li>
    <li><img src="{{ STATIC_URL }}img/freshness-icon.png" alt="freshness" /> Freshness</li>
  </ul>
</div>
{% endblock %}
