{% load url from future %}
{% load djeuscan_helpers %}

<table id="table" class="display">
  <thead>
    <tr>
      <th>Herd</th>
      <th><img src="{{ STATIC_URL }}img/gentoo-icon.png" alt="gentoo" title="Versions in Gentoo" /></th>
      <th><img src="{{ STATIC_URL }}img/overlay-icon.png" alt="overlays" title="Versions in Overlays" /></th>
      <th><img src="{{ STATIC_URL }}img/upstream-icon.png" alt="upstream" title="Versions only upstream" /></th>
      <th><img src="{{ STATIC_URL }}img/freshness-icon.png" alt="freshness" title="Freshness" /></th>
      {% if extras %}
      <th>Graphs</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for herd in herds %}
    <tr>
      <td>
        <a href="{% url "herd" herd.herds__herd %}">
          {{ herd.herds__herd }}
        </a>
        {% package_bar herd %}
      </td>
      {% package_cols herd %}
      {% if extras %}
        <td>
          <img src="{% url "chart_herd" herd.herds__herd 'packages-monthly-small' %}" />
          <img src="{% url "chart_herd" herd.herds__herd 'versions-monthly-small' %}" />
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
