{% extends "_base.html" %}

{% block content %}
<h2>API</h2>

<p>
<ul>
  <li><a href="{% url api.views.root 'json' %}">/api/1.0/api.json</a></li>
  <li><a href="{% url api.views.statistics 'json' %}">/api/1.0/statistics.json</a></li>
  <li><a href="{% url api.views.maintainers 'json' %}">/api/1.0/maintainers.json</a></li>
  <li><a href="{% url api.views.herds 'json' %}">/api/1.0/herds.json</a></li>
  <li><a href="{% url api.views.categories 'json' %}">/api/1.0/categories.json</a></li>
  <li>/api/1.0/packages/by-maintainer/&lt;maintainer-id&gt;.json</li>
  <li>/api/1.0/packages/by-category/&lt;category&gt;.json</li>
  <li>/api/1.0/packages/by-herd/&lt;herd&gt;.json</li>
  <li>/api/1.0/package/&lt;category&gt;/&lt;package&gt;.json</li>
</ul>

Formats: xml, yaml and json
</p>

{% endblock %}
