{% extends "euscan/_datatable.html" %}

{% load url from future %}
{% load djeuscan_helpers %}
{% load euscan_accounts_helpers %}

{% block title %}
{{ block.super }} - Category: {{ category }}
{% endblock %}

{% block menu_feed %}
{{ block.super }}
<li>
  <img src="{{ STATIC_URL }}/img/feed.png" alt="feed" />
  <a title="{{ category }} Feed" href="{% url "category_feed" category %}">
    {{ category|truncatechars:15 }}
  </a>
</li>
{% endblock %}

{% block content %}
<h2>
  Category: {{ category }}

  {% if user.is_authenticated %}
    <span class="pull-right padding-bottom10">
      {% favourite_buttons "category" category %}
    </span>
  {% endif %}
</h2>

{% packages packages %}

<h3>Statistics</h3>
<h4>Current statistics</h4>
<p>
  <img alt="pie versions" src="{% url "chart_category" category 'pie-versions' %}" />
  <img alt="pie packages" src="{% url "chart_category" category 'pie-packages' %}" />
</p>

<h4>All Time</h4>
<p>
  <img alt="versions weekly" src="{% url "chart_category" category 'versions-weekly' %}" />
  <img alt="versions monthly" src="{% url "chart_category" category 'versions-monthly' %}" />
</p>

<p>
  <img alt="packages weekly" src="{% url "chart_category" category 'packages-weekly' %}" />
  <img alt="packages monthly" src="{% url "chart_category" category 'packages-monthly' %}" />
</p>

<script src="{{ STATIC_URL }}js/favourite.js" type="text/javascript"></script>
{% endblock %}

{% block menus %}
{{ block.super }}
<div class="menu rounded notfirst-menu">
  <dl>
    <dt>Versions</dt>
    <dd><img alt="versions" src="{% url "chart_category" category 'versions-monthly-small' %}" /></dd>
    <dt>Packages</dt>
    <dd><img alt="packages" src="{% url "chart_category" category 'packages-monthly-small' %}" /></dd>
  </dl>
</div>
{% endblock %}
