{% extends "euscan/_datatable.html" %}

{% load djeuscan_helpers %}
{% load url from future %}

{% block title %}
{{ block.super }} - Maintainer: {{ maintainer.name }}
{% endblock %}

{% block menu_feed %}
{{ block.super }}
<li>
  <img src="{{ STATIC_URL }}/img/feed.png" alt="feed" />
  <a title="{{ maintainer.name }} Feed" href="{% url "maintainer_feed" maintainer.id %}">
    {{ maintainer.name|truncatechars:15 }}
  </a>
</li>
{% endblock %}

{% block content %}
<h2>
  Maintainer: {{ maintainer.name }} &lt;{{ maintainer.email }}&gt;
  {% if user.is_authenticated %}
    <span class="pull-right">
      <button class="btn favourite-button {% if favourited %}hide{% endif %}" data-url="{% url "favourite_maintainer" maintainer.id %}">
        <img src="{{ STATIC_URL}}/img/watch-icon.png" alt="Watch" />
      </button>
      <button class="btn unfavourite-button {% if not favourited %}hide{% endif %}" data-url="{% url "unfavourite_maintainer" maintainer.id %}">
        <img src="{{ STATIC_URL}}/img/unwatch-icon.png" alt="Unwatch" />
      </button>
    </span>
  {% endif %}
</h2>

{% packages packages %}

<h3>Statistics</h3>
<h4>Current statistics</h4>
<p>
  <img alt="pie versions" src="{% url "chart_maintainer" maintainer.id 'pie-versions' %}" />
  <img alt="pie packages" src="{% url "chart_maintainer" maintainer.id 'pie-packages' %}" />
</p>

<h4>All Time</h4>
<p>
  <img alt="version weekly" src="{% url "chart_maintainer" maintainer.id 'versions-weekly' %}" />
  <img alt="versions monthly" src="{% url "chart_maintainer" maintainer.id 'versions-monthly' %}" />
</p>

<p>
  <img alt="packages weekly" src="{% url "chart_maintainer" maintainer.id 'packages-weekly' %}" />
  <img alt="packages monthly" src="{% url "chart_maintainer" maintainer.id 'packages-monthly' %}" />
</p>

<script type="text/javascript">
$(document).ready(function () {
  $(".favourite-button").click(function() {
    $.post($(this).data("url"), function() {
      $(".unfavourite-button").removeClass("hide");
      $(".favourite-button").addClass("hide");
    });
  });

  $(".unfavourite-button").click(function() {
    $.post($(this).data("url"), function() {
      $(".favourite-button").removeClass("hide");
      $(".unfavourite-button").addClass("hide");
    });
  });
});
</script>

{% endblock %}

{% block menus %}
{{ block.super }}
<div class="menu rounded notfirst-menu">
  <dl>
    <dt>Versions</dt>
    <dd><img alt="versions" src="{% url "chart_maintainer" maintainer.id 'versions-monthly-small' %}" /></dd>
    <dt>Packages</dt>
    <dd><img alt="packages" src="{% url "chart_maintainer" maintainer.id 'packages-monthly-small' %}" /></dd>
  </dl>
</div>

{% endblock %}
