{% extends "_base.html" %}

{% load url from future %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/table.css" media="screen" title="Normal" />
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#table').dataTable( {
     "bPaginate": false,
     "bInfo": false,
     "bStateSave": true,
     "sCookiePrefix": "datatables_"
    } );
  });
</script>
{% endblock %}


{% block content %}
<h2>Statistics</h2>

<hr />

<h3>Current statistics</h3>
<img alt="pie versions" src="{% url "chart" 'pie-versions' %}" />
<img alt="pie packages" src="{% url "chart" 'pie-packages' %}" />

<h3>All time statistics</h3>

<img alt="packages weekly" src="{% url "chart" 'packages-weekly' %}" />
<img alt="packages monthly" src="{% url "chart" 'packages-monthly' %}" />

<img alt="versions weekly" src="{% url "chart" 'versions-weekly' %}" />
<img alt="versions monthly" src="{% url "chart" 'versions-monthly' %}" />

<hr />

<h3>Handlers</h3>
<table id="table" class="display">
  <thead>
    <tr>
      <th>Handler</th>
      <th># of found versions</th>
      <th>Average confidence</th>
    </tr>
  </thead>
  <tbody>
    {% for handler in handlers %}
      <tr>
        <td>
	  <a href="{% url "statistics_handler" handler.handler %}">
	    {{ handler.handler }}
          </a>
        </td>
        <td>{{ handler.n }}</td>
        <td>{{ handler.avg_conf }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
