?xml version="1.0" encoding="utf8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
  <head>
    <title>{% block title %}euscan{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_ROOT}}img/style.css" media="screen" title="Normal" />
    {% endblock %}
    {% block javascript %}
    {% endblock %}
  </head>
  <body>
    <div id="header">
      {% block header %}<h1>euscan</h1>{% endblock %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    <div id="menus">
      {% block menus %}
      <div id="menu">
	<ul>
	  {% block menu %}
	  <li><a href="categories/">Categories</a></li>
	  <li><a href="herds/">Herds</a></li>
	  <li><a href="maintainers/">Maintainers</a></li>
	  {% endblock %}
	</ul>
      </div>
      {% endblock %}
    </div>
    <div id="footer">
      Powered by:
      <a href="http://kernel.org" titke="Linux Kernel">
	<img  src="{{MEDIA_ROOT}}img/linux.png" alt="Linux" />
      </a>
      <a href="http://gentoo.org" title="Gentoo">
	<img  src="{{MEDIA_ROOT}}img/gentoo.png" alt="Gentoo Linux" />
      </a>
      -
      Copyright (C) 2011 <strong>Corentin Chary</strong>
    </div>
  </body>
</html>
