{% load packages %}
{% load sub %}
{% load div %}
{% load mul %}

<table id="table" class="display">
  <thead>
    <th>Package</th>
    <th>Gentoo</th>
    <th>Overlay</th>
    <th>Upstream</th>
    <th>Gentoo</th>
    <th>Overlays</th>
    <th>Unpackaged</th>
    <th>Freshness</th>
  </thead>
  <tbody>
  {% for package in packages %}
  <tr>
    <td>
      <a href="{% url euscan.views.package package.category package.name %}">
	{{ package.category }}/{{ package.name }}
      </a>
      {% package_bar package %}
    </td>
    <td>{{ package.last_version_gentoo.version }}</td>
    <td>{{ package.last_version_overlay.version }}</td>
    <td>{{ package.last_version_upstream.version }}</td>
    {% package_cols package %}
  </tr>
  {% endfor %}
  </tbody>
</table>
