{% extends "euscan/_datatable.html" %}

{% load packages %}

{% block title %}
{{ block.super }} - categories
{% endblock %}

{% block content %}
<h2>Categories</h2>

<table id="table" class="display">
  <thead>
    <th>Category</th>
    <th>Gentoo</th>
    <th>Overlays</th>
    <th>Unpackaged</th>
    <th>Freshness</th>
    {% if request.GET.extras %}
    <th>Graphs</th>
    {% endif %}
  </thead>
  <tbody>
  {% for category in categories %}
  <tr>
    <td>
      <a href="{% url euscan.views.category category.category %}">{{ category.category }}</a>
      {% package_bar category %}
    </td>
    {% package_cols category %}
    {% if request.GET.extras %}
    <td>
      <img src="{% url euscan.views.chart_category category.category 'packages-monthly-small' %}" />
      <img src="{% url euscan.views.chart_category category.category 'versions-monthly-small' %}" />
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
