{% extends "euscan/_datatable.html" %}

{% load packages %}

{% block title %}
{{ block.super }} - Category: {{ category }}
{% endblock %}

{% block content %}
<h2>Category: {{ category }}</h2>
{% packages packages %}

<h3>Statistics</h2>
<h4>Current statistics</h4>
<img src="{% url euscan.views.chart_category category 'pie-versions' %}" />
<img src="{% url euscan.views.chart_category category 'pie-packages' %}" />

<h4>All Time</h4>
<img src="{% url euscan.views.chart_category category 'versions-monthly' %}" />
<img src="{% url euscan.views.chart_category category 'packages-monthly' %}" />

{% endblock %}
