{% extends "euscan/_datatable.html" %}

{% load packages %}

{% block title %}
{{ block.super }} - Category: {{ category }}
{% endblock %}

{% block menu_feed %}
{{ block.super }}
<li>
  <img src="{{ STATIC_URL }}/img/feed.png" alt="feed" />
  <a title="{{ category }} Feed" href="{% url category_feed category %}">{{ category }}</a>
</li>
{% endblock %}

{% block content %}
<h2>Category: {{ category }}</h2>

{% packages packages %}

<h3>Statistics</h2>
<h4>Current statistics</h4>
<p>
  <img src="{% url euscan.views.chart_category category 'pie-versions' %}" />
  <img src="{% url euscan.views.chart_category category 'pie-packages' %}" />
</p>

<h4>All Time</h4>
<p>
  <img src="{% url euscan.views.chart_category category 'versions-weekly' %}" />
  <img src="{% url euscan.views.chart_category category 'versions-monthly' %}" />
</p>

<p>
  <img src="{% url euscan.views.chart_category category 'packages-weekly' %}" />
  <img src="{% url euscan.views.chart_category category 'packages-monthly' %}" />
</p>

{% endblock %}

{% block menus %}
{{ block.super }}
<div class="menu">
  <dl>
    <dt>Versions</dt>
    <dd><img src="{% url euscan.views.chart_category category 'versions-monthly-small' %}" /></dd>
    <dt>Packages</dt>
    <dd><img src="{% url euscan.views.chart_category category 'packages-monthly-small' %}" /></dd>
    </dl>
</div>

{% endblock %}
