{% extends "euscan/_datatable.html" %}

{% load packages %}

{% block title %}
{{ block.super }} - herds
{% endblock %}

{% block content %}
<h2>Herds</h2>
<table id="table" class="display">
  <thead>
    <th>Herd</th>
    <th>Gentoo</th>
    <th>Overlays</th>
    <th>Unpackaged</th>
    {% if request.GET.extras %}
    <th>Graphs</th>
    {% endif %}
  </thead>
  <tbody>
  {% for herd in herds %}
  <tr>
    <td>
      <a href="{% url euscan.views.herd herd.herds__herd %}">
	{{ herd.herds__herd }}
      </a>
      {% package_bar herd %}
    </td>
    {% package_cols herd %}
    {% if request.GET.extras %}
    <td>
      <img src="{% url euscan.views.chart_herd herd.herds__herd 'packages-monthly-small' %}" />
      <img src="{% url euscan.views.chart_herd herd.herds__herd 'versions-monthly-small' %}" />
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
