{% extends "_base.html" %}

{% load timedelta %}

{% block content %}
<h2>What's euscan ?</h2>
<p>
Euscan is both a tool to check if an ebuild is outdated (app-portage/euscan) and a web interface.
</p>
<p>
This web interface allow you to browse the portage tree, and find outdated ebuilds. It was designed to help maintainers monitor their packages and bump them.
</p>
<p>
euscan code source is available at <a href="http://git.iksaif.net/?p=euscan.git;a=summary">http://git.iksaif.net/?p=euscan.git;a=summary</a>.
</p>
<h2>Statistics</h2>
<ul>
  <li>Packages: {{ n_packages }}</li>
  <li>Versions: {{ n_packaged }}</li>
  <li>Versions not-packaged: {{ n_upstream }}</li>
  <li>Herds: {{ n_herds }}</li>
  <li>Maintainers: {{ n_maintainers }}</li>
  <li>Last scan: {{ last_scan }} ({{ last_scan|timedelta }})</li>
</ul>
{% endblock %}
