{% extends "euscan/_datatable.html" %}

{% load packages %}

{% block title %}
{{ block.super }} - maintainers
{% endblock %}

{% block content %}
<h2>Maintainers</h2>
<table id="table" class="display">
  <thead>
    <th>Maintainer</th>
    <th>Gentoo</th>
    <th>Overlays</th>
    <th>Unpackaged</th>
    <th>Freshness</th>
    {% if request.GET.extras %}
    <th>Graphs</th>
    {% endif %}
  </thead>
  <tbody>
  {% for maintainer in maintainers %}
  <tr>
    <td>
      <a href="{% url euscan.views.maintainer maintainer.maintainers__id %}">
	{% if maintainer.maintainers__name != maintainer.maintainers__email %}
	{{ maintainer.maintainers__name }} &lt;{{ maintainer.maintainers__email }}&gt;
	{% else %}
	{{ maintainer.maintainers__name }}
	{% endif %}
      </a>
      {% package_bar maintainer %}
    </td>
    {% package_cols maintainer %}
    {% if request.GET.extras %}
    <td>
      <img src="{% url euscan.views.chart_maintainer maintainer.maintainers__id 'packages-monthly-small' %}" />
      <img src="{% url euscan.views.chart_maintainer maintainer.maintainers__id 'versions-monthly-small' %}" />
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
