{% extends "euscan/_datatable.html" %}

{% load packages %}

{% block title %}
{{ block.super }} - maintainers
{% endblock %}

{% block content %}
<h2>Maintainers</h2>
<table id="table" class="display">
  <thead>
    <th>Maintainer</th>
    <th>Gentoo</th>
    <th>Overlays</th>
    <th>Unpackaged</th>
  </thead>
  <tbody>
  {% for maintainer in maintainers %}
  <tr>
    <td>
      <a href="{% url euscan.views.maintainer maintainer.maintainers__id %}">
	{{ maintainer.maintainers__name }}
      </a>
      {% package_bar maintainer %}
    </td>
    {% package_cols maintainer %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
