{% extends "euscan/_datatable.html" %}

{% load packages %}

{% block title %}
{{ block.super }} - Maintainer: {{ maintainer.name }}
{% endblock %}

{% block content %}
<h2>Maintainer: {{ maintainer.name }} &lt{{ maintainer.email }}&gt</h2>
{% packages packages %}

<h3>Statistics</h2>
<h4>Current statistics</h4>
<img src="{% url euscan.views.chart_maintainer maintainer.id 'pie-versions' %}" />
<img src="{% url euscan.views.chart_maintainer maintainer.id 'pie-packages' %}" />

<h4>All Time</h4>
<img src="{% url euscan.views.chart_maintainer maintainer.id 'versions-weekly' %}" />
<img src="{% url euscan.views.chart_maintainer maintainer.id 'versions-monthly' %}" />
<img src="{% url euscan.views.chart_maintainer maintainer.id 'packages-weekly' %}" />
<img src="{% url euscan.views.chart_maintainer maintainer.id 'packages-monthly' %}" />

{% endblock %}
