{% extends "euscan/_datatable.html" %}

{% load sub %}

{% block title %}
{{ block.super }} - {{ package.category }}/{{ package.name }}
{% endblock %}

{% block content %}
<h2>{{ package.category }}/{{ package.name }}</h2>
<dl>
  {% if package.description %}
  <dt>Description</dt>
  <dd>{{ package.description }}</dd>
  {% endif %}
  {% if package.homepage %}
  <dt>Homepage</dt>
  <dd>
    {% for homepage in package.homepages %}
    <a href="{{ homepage }}">{{ homepage }}<br />
    {% endfor %}
  </dd>
  {% endif %}
  {% if package.herds.all %}
  <dt>Herds</dt>
  <dd>
    {% for herd in package.herds.all %}
    <a href="{% url euscan.views.herd herd.herd %}">
      {{ herd.herd }}
    </a>
    &lt;{{ herd.email }}&gt;
    {% endfor %}
  </dd>
  {% endif %}
  {% if package.maintainers.all %}
  <dt>Maintainers</dt>
  <dd>
    {% for maintainer in package.maintainers.all %}
      {% if maintainer.name != maintainer.email %}
       <a href="{% url euscan.views.maintainer maintainer.id %}">
	 {{ maintainer.name }}
       </a>
       &lt;{{ maintainer.email }}&gt;
      {% else %}
       <a href="{% url euscan.views.maintainer maintainer.id %}">
       {{ maintainer.email }}
       </a>
      {% endif %}
    {% endfor %}
  </dd>
  {% endif %}
  {% if packaged %}
  <dt>Packaged Versions</dt>
  <dd>
    <ul>
      {% for version in packaged %}
      <li>
	{{ version.version }}-{{ version.revision }} :{{ version.slot }} [{{ version.overlay }}]
      </li>
      {% endfor %}
    </ul>
  </dd>
  {% endif %}
  {% if upstream %}
  <dt>Upstream versions</dt>
  <dd>
    <ul>
      {% for version in upstream %}
      <li>
	{{ version.version }} - {{ version.urls }}
      </li>
      {% endfor %}
     </ul>
  </dd>
  {% endif %}
  {% if log %}
  <dt>euscan log</dt>
  <dd>
    <p>Date: {{ log.datetime }}
    <pre>
      {{ log.result }}
    </pre>
  </dd>
  {% endif %}
</dl>
{% endblock %}
