{% extends "_base.html" %}

{% block title %}
{{ block.super }} - World scan
{% endblock %}

{% block content %}
<h2>Scan your packages</h2>

<hr />

<p>Import your /var/lib/portage/world file</p>

<form action="{% url djeuscan.views.world_scan %}" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ world_form.as_p }}
<input type="submit" value="Submit" />
</form>

<hr />

<p>Or just list some packages</p>

<form action="{% url djeuscan.views.world_scan %}" method="post">{% csrf_token %}
{{ packages_form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}
