<?xml version="1.0" encoding="utf8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
  <head>
    <title>{% block title %}euscan{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% block meta %}
    <link rel="alternate" type="application/atom+xml" title="Global log" href="{% url global_feed %}" />
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" media="screen" title="Normal" />
    {% endblock %}
    {% block javascript %}
    {% endblock %}
  </head>
  <body>
    <div id="header">
      <a href="http://www.gentoo.org">
	<img id="logo" src="{{ MEDIA_URL }}img/gentoo_org.png" />
      </a>
      {% block header %}<h1>Ebuild Upstream Scanner (euscan)</h1>{% endblock %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="menus">
      {% block menus %}
      <div id="menu">
	<ul>
	  {% block menu %}
	  <li><a href="{% url euscan.views.index %}">Home</a></li>
	  <li><a href="{% url euscan.views.categories %}">Categories</a></li>
	  <li><a href="{% url euscan.views.herds %}">Herds</a></li>
	  <li><a href="{% url euscan.views.maintainers %}">Maintainers</a></li>
	  <li><a href="{% url euscan.views.world %}">Scan World</a></li>
	  <li><a href="{% url euscan.views.statistics %}">Statistics</a></li>
	  <!--
	  <li>---</li>
	  <li><a href="#">Login</a></li>
	  <li><a href="#">Register</a></li>
	  -->
	  <li>---</li>
	  {% block menu_feed %}
	  <li>
	    <img src="{{ MEDIA_URL }}/img/feed.png" alt="feed" />
	    <a href="Global Feed" href="{% url global_feed %}">Global Feed</a>
	  </li>
	  {% endblock %}
	  <li>---</li>
	  <li><a href="{% url euscan.views.about %}">About</a></li>
	  {% endblock %}
	</ul>
      </div>
      {% endblock %}
    </div>
    <div id="footer">
      <p>
	Questions, Comments, Corrections ?
	Email: corentin.chary at gmail.com<br />
	Copyright (C) 2011 <strong>Corentin Chary</strong><br />
	<em>This site is not an official Gentoo website.</em>
      </p>
    </div>
  </body>
</html>
